S3method(plot3d,hclust)
export(fc_attach_bigmat)
export(fc_gene_name)
export(fc_idid)
export(fc_neuron)
export(fc_sub_distmat)
export(hclustfc)
export(load_fcdata)
export(load_fcdb)
export(plot3dfc)
export(pop3dfc)
