S3method(plot3d,hclust)
S3method(subset,hclust)
export(drawRegionSurf)
export(fc_attach_bigmat)
export(fc_attach_ff)
export(fc_download_data)
export(fc_gene_name)
export(fc_idid)
export(fc_nblast)
export(fc_neuron)
export(fc_sub_distmat)
export(fc_subscoremat)
export(fcwbnpsurf)
export(fcwbsurf)
export(getRegionSurf)
export(getRegionsFromSurf)
export(hclustfc)
export(load_fcdata)
export(load_fcdb)
export(plot3dfc)
export(pop3dfc)
export(selectRegionsFromSurf)
importFrom(bigmemory,attach.big.matrix)
importFrom(bigmemory,is.big.matrix)
importFrom(dendroextras,slice)
importFrom(ff,arrayIndex2vectorIndex)
importFrom(ff,is.ff)
importFrom(rgl,plot3d)
importFrom(rgl,pop3d)
